<template lang="html">
    <div class="col-12">
        <div class="form-group">
            <textarea class="form-control"  id="add-comment"  v-model="commentText" @keyup.enter="sendComment" placeholder="Write a comment..."></textarea>
        </div>
        <div class="of-hidden">
            <button type="button" @click="sendComment" class="btn-red float-right">Add Comment</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['parentId'],
        data() {
            return {
                commentText: '',
            }
        },
        methods: {
            sendComment() {
                Event.$emit('comment-add', {
                    comment: this.commentText,
                    parentId: this.parentId,
                    userId: localStorage.getItem('user-id')
                });
                this.commentText = '';
            }
        }
    }
</script>

