<template>
    <section id="add-post">
        <div class="theme-menu post">
            <div class="col-12 text-center padding-45">
                <div class="add d-inline">
                    Add Post
                </div>
            </div>
        </div>
        <div class="container padding-30 margin-30">
            <form action="" enctype="multipart/form-data">
                <div class="form-group{ 'has-error': form.errors.has('email') }">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" v-model="postTitle">
                </div>
                <div class="form-group{ 'has-error': form.errors.has('post-img') }">
                    <label for="post-img">Image:</label>
                    <input type="file" class="form-control" id="post-img" name="img" @change="readImg">
                </div>
                <div class="form-group{'has-error': form.errors.has('body')}">
                    <label for="body">Content:</label>
                    <textarea class="form-control" id="body" name="body" v-model="postContent"></textarea>
                </div>
                <div class="form-group">
                    <label for="categories">Select Category:</label>
                    <select name="categories" id="categories" class="form-control" v-model="postCategory">

                        <option v-for="(value, key) in categories" :key="key" :value="key">{{ value }}</option>

                    </select>
                </div>
                <button class="btn-red" type="button" @click="createPost">Add Post</button>
            </form>
            </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                categories: [],
                postTitle: '',
                postContent: '',
                postCategory: '',
                image: '',
            }
        },
        mounted() {
            this.getCategories();
        },
        methods: {
            getCategories() {
                let vm = this;
                axios.get('/category')
                    .then((response) => {
                       vm.categories = response.data;
                    })
            },
            readImg(file){
                let vm = this;
                let files = file.target.files || file.dataTransfer.files;
                if (!files.length)
                    return;
                vm.image = file.target.files[0];
                // -- If need display file --
                //this.createImage(files[0]);
            },

            // --- Displaying file ---

//            createImage(file){
//                let reader = new FileReader();
//                let vm = this;
//                reader.onload = (e) => {
//                    vm.image = e.target.result;
//                };
//                reader.readAsDataURL(file);
//            },
            createPost(){
                let vm = this;
                let data = new FormData();
                console.log(vm.image);

                data.append('img',vm.image);
                data.append('title',vm.postTitle);
                data.append('body',vm.postContent);
                data.append('category',vm.postCategory);
                console.log(data);
                axios.post('post', data,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((response) => {
                        vm.postTitle = '';
                        vm.postContent = '';
                        vm.postCategory = '';
                        vm.image = '';
                    })

            }
        }
    }
</script>