<template>
    <div class="col-12 chat-message" :data-id="comment.id">
        <div class="comment row">
            <div class="comment-img">
                <img :src='"/img/users/"+comment.user.avatar'>
            </div>
            <div class="comment-body" :id="'comment-'+comment.id" >
                <div class="margin-0-20 ">
                    <a href="#" class="comment-author"><span>{{ comment.user.name}} {{ comment.user.surname }}</span></a>
                    <span class="comment-date"><i class="far fa-clock"></i>{{ comment.created_at }} </span>
                    <div class="comment-body">
                        <p class="d-inline-block">{{ comment.comment }}</p>
                    </div>
                    <a href="#" class="reply-comment" data-toggle="collapse" @click="replyComment(comment.id)" :data-target="'#reply'+comment.id">Reply</a>
                </div>
                <div :id="'reply'+comment.id" class="collapse">
                    <add-comment :parent-id="comment.id"></add-comment>
                </div>
                <div v-if="comment.children">
                    <div v-for="child in comment.children">
                        <child-comment :comment="child" :parent-id="comment.id"></child-comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'comment',
            'parentId',
        ],
        data(){
            return {
                commentId: null,
            }
        },
        mounted(){
            this.commentId = this.$el.getAttribute('data-id');
        },
        methods: {
            replyComment(parentId) {
                this.dataParentId = parentId;
            },
        }
    }
</script>