<template>
    <section id="edit-post">
        <div class="theme-menu post">
            <div class="container text-center padding-45">
                <div class="add d-inline">
                    Edit Post
                </div>
            </div>
        </div>
        <div class="container padding-30 margin-30">
            <form action="" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" v-model="postTitle" ref="postTitle">
                </div>

                <div class="form-group edit-img">
                    <label for="post-img" class="d-block">Image:</label>
                    <img :src="'/img/posts/' + post.img">
                    <input type="file" class="form-control" id="post-img" name="img" @change="readImg">
                </div>

                <div class="form-group">
                    <label for="categories">Select Category:</label>
                    <select name="categories" id="categories" class="form-control" ref="postCategory" v-model="postCategory">

                        <option v-for="(value, key) in categories" :key="key" :value="key">{{ value }}</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="body">Content:</label>
                    <textarea class="form-control" id="body" name="body" v-model="postContent"></textarea>
                </div>

                <button class="btn-red" type="button" @click="updatePost()">Edit Post</button>
            </form>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                post:[],
                categories: [],
                postTitle: '',
                postContent: '',
                postCategory: '',
                image: '',
            }
        },
        mounted() {
            this.getCategories();
            this.getPost();
        },
        methods: {
            getPost() {
                let vm = this;
                let id = this.$route.params.post_id
                axios.get('/post/' + id)
                    .then((response) => {
                        vm.post = response.data;
                })
            },
            getCategories() {
                let vm = this;
                axios.get('/category')
                    .then((response) => {
                        vm.categories = response.data;
                    })
            },
            readImg(file){
                let vm = this;
                let files = file.target.files || file.dataTransfer.files;
                if (!files.length)
                    return;
                vm.image = file.target.files[0];
            },

            updatePost() {
                let vm = this;
                let data = new FormData();

                let id = this.$route.params.post_id;

                data.append('title',vm.postTitle);
                data.append('body',vm.postContent);
                data.append('category',vm.postCategory);
                data.append('id',id);


//                if (document.getElementById("post-img").files.length != 0) {
                    data.append('img',vm.image);
//                }
                console.log(data);

                axios.post('post/' + id, data)
                    .then((response) => {
                    })
            }
        }
    }
</script>