<template>
    <section id="home">
        <div class="theme-menu home">
            <ul class="nav" v-for="(name, id, index) in categories">
                 <!--<span>{{ id }}</span>   <span>{{ name }}</span>   <div>pa la la{{ index }}</div>-->
                <li class="nav-item dropdown theme" v-if="index >= 4">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">All</a>
                    <div class="dropdown-menu category-dropdawn">
                        <div v-for="(name, id, index) in categories" v-if="index >= 4">
                            <router-link class="nav-link opacity-9 dropdown-item margin-0" :to="'category/' + id">{{ name }}</router-link>
                        </div>
                    </div>
                </li>
                <li class="nav-item theme" v-else>
                    <router-link class="nav-link opacity-9 dropdown-item margin-0" :to="'category/' + id">{{ name }}</router-link>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" v-for="(value, key) in posts[0]">
                        <post-index :index="key" :post="value" :arr="0"></post-index>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card" v-for="(value, key) in posts[1]">
                        <post-index :index="key" :post="value" :arr="1"></post-index>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card " v-for="(value, key) in posts[2]">
                        <post-index :index="key" :post="value" :arr="2"></post-index>
                    </div>
                </div>
            </div>
        </div>
        <delete-modal :id="id" :arr="arr" :index="index"></delete-modal>
    </section>

</template>
<script>
    export default {
        components: {

        },
        data() {
            return {
                categories: [],
                posts: [],
                id: '',
                arr: '',
                index: ''
            };
        },
        mounted() {
            this.getCategories();
            this.getPosts();
            this.$bus.$on('postId', (props) => {
                this.id = props.id;
                this.arr = props.arr;
                this.index = props.index;
            });
            this.$bus.$on('goToHide', (props) => {
                this.$refs.deleteModal.remove('show in');
                this.getPosts()
            })
        },
        methods:{
            getCategories(){
                let vm = this;
                axios.get('/category')
                    .then((response) => {
                        vm.categories = response.data;
                    })
            },
            getPosts(){
                let vm = this;
                axios.get('/get-posts')
                    .then((response) => {
                        vm.posts = response.data;
                    })
            }
        }
    };
</script>