<template>
    <div>
        <div>
            <div class="modal fade" id="deleteModal" ref="deleteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete post</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            Do you really want to delete your post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-red" @click="deletePost(id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="spinner" ref="spinner" v-show="show">
            <div class="modal-body">
                <div class="breeding-rhombus-spinner margin-30">
                    <div class="rhombus child-1"></div>
                    <div class="rhombus child-2"></div>
                    <div class="rhombus child-3"></div>
                    <div class="rhombus child-4"></div>
                    <div class="rhombus child-5"></div>
                    <div class="rhombus child-6"></div>
                    <div class="rhombus child-7"></div>
                    <div class="rhombus child-8"></div>
                    <div class="rhombus big"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'id',
        ],
        data() {
            return {
                show : false
            };
        },
        methods:{
            deletePost(id){
                let vm = this;
                vm.show = true;
                axios.delete('/post/' + id)
                    .then((res) => {
                        vm.hidePost();
                        document.getElementsByClassName('modal-backdrop')[0].remove('show');
                        vm.show = false;
                    })

            },
            hidePost: function () {
                let vm = this;
                this.$bus.$emit('goToHide')
            }
        }
    }
</script>