<template>
    <section id="my-post">
        <div class="theme-menu post">
            <div class="container text-center padding-45">
                <div class="my d-inline">
                    My Post
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-4" v-for="(value, key) in posts">
                    <post-index :post="value"></post-index>
                </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                posts: [],
            };
        },
        mounted() {
            this.getPosts();
        },
        methods: {
            getPosts(){
                let vm = this;
                axios.get('/post')
                    .then((response) => {
                        vm.posts = response.data;
                })
            }
        }
    }
</script>