<template>
    <div class="col-12 margin-10-0" ref="post">
        <div class="card-post">
            <div class="card-header">

                <img class="card-img-top" :src='"/img/posts/"+ post.img' alt="Card image">
            </div>
            <div class="card-body">
                <div>
                    <h3 class="card-title d-inline-block">{{ post.title }}
                        <router-link :to="'/category/' + post.category.id" class="post-title-a">{{ post['category']['name'] }}</router-link>
                    </h3>
                </div>
                <div v-if="this.user_id == post.author_id">
                    <router-link to="my-posts">{{ post['user']['name'] }} {{ post['user']['surname'] }}</router-link>
                </div>
                <div v-else>
                    <router-link :to="'user/'+post.author_id">{{ post['user']['name'] }} {{ post['user']['surname'] }}</router-link>
                </div>
                <div>
                    <p class="card-text">{{ post['body'].substr(0,100) }}</p>
                </div>
            </div>
            <div class="links">
                    <span v-if="this.user_id == post.author_id">
                        <a class="btn-red float-left" data-toggle="modal" data-target="#deleteModal" @click="postId(post.id)">Delete</a>
                        <router-link :to="'edit-post/' + post.id" class="btn btn-red">Edit</router-link>
                    </span>
                <router-link :to="'/post/' + post.id" class="btn-red float-right">Read more</router-link>


            </div>
            <div class="data d-flex justify-content-around margin-10-0">
                <div class="time">
                    <i class="far fa-clock"></i>
                    <span>{{ post['created_at'] }}</span>
                </div>
                <div class="comments">
                    <i class="fas fa-comment"></i>
                    <span>{{ post.comments.length }}</span> Comment
                </div>
            </div>
            <div class="card-footer">
                <div class="follow d-flex justify-content-around">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'post',
            'index',
            'arr'
        ],
        data(){
            return {
                user_id: '',
            }
        },
        mounted(){
          this.user_id = localStorage.getItem('user-id');
        },
        methods:{
            getPosts(){
                let vm = this;
                axios.get('/post')
                    .then((response) => {
                        vm.post = response.data;

                    })
            },
            postId: function(id) {
                let vm = this;
                this.$bus.$emit('postId', {
                    id: id,
                    arr: vm.arr,
                    index: vm.index
                })
            }

    }
    }
</script>