<template>
    <section id="my-post">
        <div class="theme-menu">
            <div class="container text-center padding-45">
                <div class="my d-inline">
                    {{ category.name }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-4" v-for="(value, key) in posts" v-if="key % 3 == 0">
                    <post-index :post="value"></post-index>
                </div>
                <div class="card col-4" v-for="(value, key) in posts" v-if="key % 3 == 1">
                    <post-index :post="value"></post-index>
                </div>
                <div class="card col-4" v-for="(value, key) in posts" v-if="key % 3 == 2">
                    <post-index :post="value"></post-index>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                posts: [],
                category: []
            };
        },
        mounted() {
            this.getPosts();
        },
        methods: {
            getPosts(){
                let vm = this;
                let id = window.location.href.split('/').pop();
//                document.getElementsByClassName('theme-menu').style.background =
                axios.get('/category/' + id)
                    .then((response) => {
                        vm.category = response.data;
                        vm.posts = response.data.posts;
                    })
            }
        }
    }

</script>