<template>
    <section id="my-post">
        <div class="theme-menu post">
            <div class="container text-center padding-45">
                <div class="my d-inline">
                    {{ user.name}} {{user.surname}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="card col-4" v-for="(value, key) in user.posts" v-if="key % 3 == 0">
                    <post-index :post="value"></post-index>
                </div>
                <div class="card col-4" v-for="(value, key) in user.posts" v-if="key % 3 == 1">
                    <post-index :post="value"></post-index>
                </div>
                <div class="card col-4" v-for="(value, key) in user.posts" v-if="key % 3 == 2">
                    <post-index :post="value"></post-index>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                user: [],
            };
        },
        mounted() {
            this.getPosts();
        },
        methods: {
            getPosts(){
                let vm = this;
                let id = this.$route.params.user_id
                axios.get('/user/' + id)
                    .then((response) => {
                        vm.user = response.data;
                    })
            }
        }
    }
</script>