<template>
    <section>
        <div class="theme-menu">
            <div class="container text-center padding-45">
                <div class="my d-inline">
                    {{ post['category']['name'] }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="post-author margin-10-0">
                <img :src="'/img/users/' + post.user.avatar" alt="User avatar">
                <span v-if="this.user_id == post.author_id">
                    <router-link to="my-posts">{{ post['user']['name'] }} {{ post['user']['surname'] }}</router-link>
                </span>
                <span v-else>
                    <router-link :to="'user/'+post.author_id">{{ post['user']['name'] }} {{ post['user']['surname'] }}</router-link>
                </span>
            </div>
            <div class="post-title">
                <h2 class="d-inline">{{ post['title'] }}</h2>
                <router-link :to="'/category/' + post.category.id" class="post-title-a">{{ post['category']['name'] }}</router-link>
            </div>
            <div class="post-time">
                {{ post['created_at'] }}
            </div>
            <div class="row">
                <div class="post-img col-4">
                    <img :src="'/img/posts/' + post['img']">
                </div>
                <div class="col-8">
                    <p>{{ post['body'] }}</p>
                </div>
            </div>
            <div id="comment">
                <span><b>Comments</b></span>
                <div class="row">
                    <!--<add-comment :parent-id="parentId"></add-comment>-->
                    <!--<view-comments  :comments="comments"></view-comments>-->
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        props: [
            'postId'
        ],
        data () {
            return {
                id: null,
                post: [],
                user_id: '',
            }
        },
        beforeMount() {
            this.getPost(this.$route.params.post_id);
            this.user_id = localStorage.getItem('user-id');
//            this.id = this.$route.params.post_id

        },
        methods: {
            getPost(id) {
                let vm = this;
                axios.get('/post/' + id)
                    .then((response) => {
                        vm.post = response.data;
                        console.log(vm.post)
                    })

            }
        }
    }
</script>