<template lang="html">
    <div class="view-comments chat-log">
        <div v-for="comment in comments">
            <show-comment :comment="comment"></show-comment>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['comments'],
    }
</script>