* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px !important;
}

.font-size-15 {
    font-size: 15px;
}

h2 {
    font-size: 23px !important;
}

.of-hidden {
    overflow: hidden;
}

.opacity-9:hover{
    opacity: 0.9;
}

.app .navbar {
    margin: 0;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

.logo img {
    height: 70px;
}

.post-item a, .main-dropdown a {
    font-family: 'Dancing Script', cursive;
    font-size: 25px !important;
    padding: 10px;
    color: black;
}

.dropdown-menu {
    position: absolute !important;
}
.margin-0 {
    margin: 0 !important;
}

.category-dropdawn a{
    color: #2f8df6 !important;
}

.dropdown-menu {
    width: max-content;
}

.form-control {
    border: none !important;
}

.help-block {
    color: #e35d6a;
}

footer{
    background: #000;
    height: 200px;
    width: 100%;
}

/* Section home */

.theme-menu{
    display: flex;
    justify-content: center;
    height: 120px;
    font-size: 20px;

}

.theme-menu .nav {
    padding: 12px;
}

.theme a {
    opacity: 0.8;
    background: #fff;
    margin: 25px;
    border-radius: 8px;
}

.home {
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
}

.row {
    margin: 20px;
}

.card{
    border: none !important;
}

.card-post{
    border: 1px solid #999;
    border-radius: 10px ;
}

.btn-red {
    background-color: #dc3545;
    border-color: #dc3545;
    font-family: 'Dancing Script', cursive;
    font-size: 17px !important;
    padding: 5px 10px !important;
    margin: 0 5px;
    border-radius: 5px !important;
    color: #fff !important;
    opacity: 0.8;
    cursor:pointer;
}

.btn-red:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.btn-red:visited{
    color: #fff;
    text-decoration: none;
}
.links {
    padding: 1.25rem;
    overflow: hidden;
}

.data {
    font-size: 13px;
    color: #666;
}

.follow {
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    color: #777;
}

/* Section add-post */

#add-post .post{
    background: url(../img/add-post.jpg) no-repeat;
    background-size: cover;
    background-position-y: -55px;
    font-size: 20px;
}

.padding-45 {
    padding: 45px;
}

.padding-30-0 {
    padding: 30px 0;
}

.add, .my {
    font-size: 25px !important;
    background: #fff;
    padding: 20px 30px;
    margin: 11px;
    border-radius: 10px;
    opacity: 0.8;
}

/* Section my-post */

#my-post .post {
    background: url(../img/my-post.jpg) no-repeat;
    background-size: cover;
    background-position-y: -75px;
    font-size: 20px;
}

.post-title {
    margin: 20px;
}

.post-title-a {
    font-family: 'Dancing Script', cursive;
    font-size: 18px !important;
    margin: 0 10px;
}

.post-author img {
    height:50px;
    border-radius:25px;
}

.post-img img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

/* Section edit-post */

#edit-post .post{
    background: url(../img/edit-post.jpg) no-repeat;
    background-size: cover;
    background-position-y: -30px;
    font-size: 20px;
}

.edit-img img{
    width: 200px;
}

.margin-10-0 {
    margin:10px 0;
}

.margin-30 {
    margin: 30px auto;
}

.margin-0-20 {
    margin: 0 20px;
}

/*-- Categories --*/
.category-img {
    height: 70px;
}

/*-- Comments --*/

#show {
    width: 100%;
}

#comment {
    width: 100%;
}

.comment {
    overflow: hidden;
}
.comment-img img {
    height: 60px;
    border-radius: 50%;
}

.comment-date {
    margin: 0 10px;
    font-size: 13px !important;
}


/*-- Administration --*/

#administration {
    margin-top: 90px;
}

#administration .row{
    margin: 0;
}

.admin-img img {
    height: 50px;
    border-radius: 50%;
}

.list-menu {
    height: 100%;
    background: url(../img/admin.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -16px;
    padding: 116px 0;
}

.list-item a {
    padding: 5px 10px;
    font-size: 25px !important;
    color: #4b5872;
    margin: 0 auto;
}

.list-item a:hover {
    text-decoration: none;
    color: #e62551;
}

.list-item a svg {
    font-size: 20px !important;
    margin: 1px 10px;
}
.welcome {
    font-family: 'Dancing Script', cursive;
    font-size: 30px !important;
}

.blog-progress {
    margin: 0 auto;
}

.blog-progress:hover .icon {
    transform: rotateY(360deg);
    transition: all 0.5s;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #f8f8f8;
    display: inline-block;
}

.icon svg {
    font-size: 53px !important;
    color: #8c8b97;
    margin: 20px;
}

.progress-item {
    margin: 10px 0;
}

.progress-count{
    text-transform: uppercase;
    color: #A6586D;
    font-weight: 100;
    font-size: 33px !important;
    padding: 10px 0;
}

.progress-item .progress-count:hover {
    color: #444;
}

.progress-name{
    color: #60A56F;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 23px !important;
}

.text {
    color: #868586;
    font-size: 16px !important;
    line-height: 1.5;
}

.more-info a {
    color: #fff;
}

.more-info:hover .btn-default{
    background: #e62551;
}

.more-info:hover a {
    color:#fff;
    text-decoration: none;
}

.user-img {
    height:50px;
}

/*Swich input*/

.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 16px;
    padding: 16px 0 16px 44px;
}

.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}

.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-input:checked + .switch-label:before {
    background-color: #A5D6A7;
}

.switch-input:checked + .switch-label:after {
    background-color: #4CAF50;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}

.switch-input:checked + .switch-label .toggle--on {
    display: inline-block;
}

.switch-input:checked + .switch-label .toggle--off {
    display: none;
}

/* Admin posts */
.admin-post-img {
    height: 75px;
}


/* Spinner */
.breeding-rhombus-spinner {
    height: 65px;
    width: 65px;
    position: relative;
    transform: rotate(45deg);
}

.breeding-rhombus-spinner, .breeding-rhombus-spinner * {
    box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
    height: calc(65px / 7.5);
    width: calc(65px / 7.5);
    animation-duration: 2000ms;
    top: calc(65px / 2.3077);
    left: calc(65px / 2.3077);
    background-color: #ff1d5e;
    position: absolute;
    animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
    margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
    animation-name: breeding-rhombus-spinner-animation-child-1;
    animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
    animation-name: breeding-rhombus-spinner-animation-child-2;
    animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
    animation-name: breeding-rhombus-spinner-animation-child-3;
    animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
    animation-name: breeding-rhombus-spinner-animation-child-4;
    animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
    animation-name: breeding-rhombus-spinner-animation-child-5;
    animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
    animation-name: breeding-rhombus-spinner-animation-child-6;
    animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
    animation-name: breeding-rhombus-spinner-animation-child-7;
    animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
    animation-name: breeding-rhombus-spinner-animation-child-8;
    animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
    height: calc(65px / 3);
    width: calc(65px / 3);
    animation-duration: 2000ms;
    top: calc(65px / 3);
    left: calc(65px / 3);
    background-color: #ff1d5e;
    animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
    animation-delay: 0.5s;
}


@keyframes breeding-rhombus-spinner-animation-child-1 {
    50% {
        transform: translate(-325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
    50% {
        transform: translate(0, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
    50% {
        transform: translate(325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
    50% {
        transform: translate(325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
    50% {
        transform: translate(325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
    50% {
        transform: translate(0, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
    50% {
        transform: translate(-325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
    50% {
        transform: translate(-325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
    50% {
        transform: scale(0.5);
    }
}